In [1]:
import pandas as pd
import json

In [9]:
links = {
    'csv': [
        '../db.tst/yandex_music_project.csv'
    ],
    'json': [
        '../../.dts/tmp/e1.json'
    ],
    'urls': [
        'https://www.w3schools.com/html/html_tables.asp'
    ]
}

In [2]:
df = pd.read_csv(links['csv'][0])

In [10]:
df = pd.read_html(links['urls'][0])

In [5]:
df = pd.read_json(links['json'][0], orient='index')

# orient= [
#     'index',
#     'columns',
#     'split',
#     'records'
#     ]

In [ ]:
# save to json
#df.to_json('example.json')

In [4]:
df.head(5)
#df.loc['info']

AttributeError: 'list' object has no attribute 'head'

In [5]:
df.info()

AttributeError: 'list' object has no attribute 'info'

In [6]:
df.columns # duplicate columns from info()

AttributeError: 'list' object has no attribute 'columns'

In [7]:
# counts of unique values
print(df['artist'].value_counts().head(3))

Sasha     6
Plan B    6
Koala     6
Name: artist, dtype: int64

In [6]:
df = df.rename(columns={
    '  userID': 'user_id',
    'Track': 'track',
    '  City  ': 'city',
    'Day': 'day'
})

In [8]:
df.isna().sum()

user_id       0
track      1231
artist     7203
genre      1198
city          0
time          0
day           0
dtype: int64

In [9]:
columns_to_replace = ['track', 'artist', 'genre']
for column in columns_to_replace:
    df[column] = df[column].fillna('unknown')

In [12]:
df.duplicated().sum()

0

In [11]:
# duplicate resolving
df = df.drop_duplicates().reset_index(drop=True)

In [5]:
#print(df['genre'].sort_values().unique()[:10])
print(df.sort_values('genre', ascending=False)[:3])

         userID            Track            artist        genre  \
6501     1D4661      Раз два три             Какао  электроника
8514   A439123F          Flip It               NaN          ïîï
28665  D7FB50DA  Drumming Circle  Professor Trance    worldbeat

                 City        time        Day
6501   Saint-Petersburg  08:54:15  Wednesday
8514             Moscow  09:08:51     Friday
28665            Moscow  09:30:47     Monday

In [15]:
duplicates_genre = ['hip', 'hop', 'hip-hop']
df['genre'] = df['genre'].replace(duplicates_genre, 'hiphop')

In [16]:
df.groupby('city')['track'].count()

city
Moscow              42741
Saint-Petersburg    18512
Name: track, dtype: int64

In [5]:
# sorting methods

print(df.sort_values('artist')[:3])

         userID            Track   artist       genre            City    \
40006  30B60957         Big City   Gus G.       metal            Moscow
30942  176A5342         Классика    Jenee      rusrap            Moscow
64600  A1C42156  Hold On To Love   Netsky  electronic  Saint-Petersburg

           time     Day
40006  20:13:26  Friday
30942  09:18:18  Monday
64600  08:16:39  Monday